main {
    display: flex;
    justify-content: center;
}
.main-div {
    background-image: url(../img/the-interior-has-a-armchair-on-empty-white-wall-background-3d-rendering\ 1.png);
    display: flex;
    width: 1400px;
    height: 860px;
    padding: 20px;
    justify-content: space-between;
}
.main__form {
    margin: auto 80px ;
    background-color: #ffffffe5;
    border-radius: 40px;
    padding: 40px 40px 80px 40px;
    display: flex;
    flex-direction: column;
}
.main__form_h1 {
    font-size: 55px;
}
.main__form_sing-up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sing-up_h3 {
    font-size: 21px;
}
.sing-up_span,
.sing-up_lable-a {
    color: #779341;
}
.sing-up_lable {
    font-size: 13px;
    color: #8D8D8D;
}
.sing-up_lable {
    display: flex;
    flex-direction: column;
}
.main__form_block-messenger {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}
.block-messenger__btn-google {
    background-color: #E9F1FF;
    color: #4285F4;
    border: 1px solid #E9F1FF;
    border-radius: 5px;
    width: 298px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}
.block-messenger__btn-apple,
.block-messenger__btn-facebook {
    width: 60px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
}
#email,
#password,
#user,
#contack {
    display: flex;
    flex-direction: column;
    width: 431px;
    height: 57px;
    border:  1px solid #ADADAD;
    border-radius: 10px;
    padding-left: 20px;
    margin-top: 20px;
}
.main__form_label-email,
.main__form_label-password,
.block-user-contack__label-user,
.block-user-contack__label-contack {
    font-size: 16px;
    margin-top: 30px;
}
.main__form_for-password {
    text-align: end;
    font-size: 13px;
    margin-top: 10px;
}
.main__form_block-btn {
    display: flex;
    justify-content: end;
}
.main__form_btn-sign-in {
    background-color: #779341;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    width: 236px;
    height: 54px;
    margin-top: 50px;
    cursor: pointer;
}
.block-user-contack__block-user,
.block-user-contack__block-contack {
    display: flex;
    flex-direction: column;
    width: 47%;
}
.main__block-user-contack {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
#user,
#contack {
    width: 190px;
}
@media screen and (max-width: 375px) {
    main {
        display: block;
    }
    .main-div {
        width: 375px;
    }
    .main__form {
        margin: 0;
        margin-top: 40px;
        padding: 20px 20px 60px 20px;
        width: 286px;

    }
    .main-div {
        display: block;
    }
    .sing-up_h3 {
        font-size: 16px;
    }
    .main__form_h1 {
        font-size: 40px;
    }
    .block-messenger__btn-google {
        width: 180px;
        height: 55px;
        gap: 10px;
    }
    .block-messenger__btn-apple, 
    .block-messenger__btn-facebook {
        width: 36px;
    }
    #email, 
    #password {
        width: 262px;
    }
    .main__form_btn-sign-in {
        width: 149px;
    }
    #user,
    #contack {
        width: 110px;
    }
}