main {
    display: flex;
    justify-content: center;
}
.main-div {
    display: flex;
    width: 1400px;
    height: 860px;
    padding: 20px;
}
.main__img {
    display: flex;
    align-items: center;
}
.main__form {
    border: 1px solid #878787;
    margin: auto 0 ;
    background-color: #ffffffe5;
    border-radius: 10px;
    padding: 30px 30px 60px 30px;
    display: flex;
    flex-direction: column;
}
.main__form_additional-functions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.main__form_h1 {
    font-size: 31px;
    margin-top: 30px;
}
.main__form_p {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.main__form_h3 {
    font-size: 25px;
}
#email,
#password,
#user {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 57px;
    border:  1px solid #ADADAD;
    border-radius: 10px;
    padding-left: 20px;
    margin-top: 20px;
}
.main__form_label-user,
.main__form_label-password {
    font-size: 16px;
    margin-top: 30px;
}
.additional-functions__lable {
    font-size: 12px;
}
.main__form_for-password {
    font-size: 12px;
    text-decoration: none;
    color: #4D4D4D;
}
.main__form_block-btn {
    display: flex;
    justify-content: end;
}
.main__form_btn-login {
    background-color: #000;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 54px;
    margin-top: 30px;
    cursor: pointer;
}
.main__form_register {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    font-size: 16px;
}
.main__form_register-p {
    color: #7D7D7D;
}
.main__form_register-a {
    text-decoration: none;
    color: #000;
}
@media screen and (max-width: 375px) {
    img {
        display: none;
    }
    main {
        display: block;
    }
    .main-div {
        width: 375px;
    }
    .main__form {
        margin: 0;
        margin-top: 40px;
        padding: 20px 20px 60px 20px;
        width: 286px;

    }
    .main-div {
        display: block;
    }
    .sing-up_h3 {
        font-size: 16px;
    }
    .main__form_h1 {
        font-size: 40px;
    }
    #email, 
    #password {
        width: 262px;
    }
    .main__form_btn-sign-in {
        width: 149px;
    }
    #user,
    #contack {
        width: 110px;
    }
}